#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  position: absolute;
  padding: 20px 0;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  color: black;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}
.nav .wrap {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.nav .list-wrap {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav .list-wrap a {
text-decoration-line: underline;
text-underline-offset: 6px;
}

@media (min-width: 600px) {
  .nav .wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
     
}